*.env
*.pyc
__pycache__/*
__pycache__
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.coverage
*.egg
*.egg-info/
*.dist-info/
.vscode/
.idea/
.DS_Store
.claude/
.claude/*
cookie*.txt
cookie.txt
cookie*
test_cookie*
.mcp.json